.App {
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.sidebar {
  background-color: #f9f9f9;
}

@media (max-width: 1200px) {
  .sidebar {
    display: none;
  }
  .right {
    display: none;
  }
  main > *:nth-child(3) {
    grid-column: span 3;
  }
}
.tip {
  width: 26px;
  height: 26px;
  position: absolute;
  inset: 0;
  clip-path: polygon(0 0, 100% 0, 49% 100%);
}

.chart-container {
  box-shadow: 0px 4px 39px 9px rgba(81, 69, 159, 0.09);
  background-color: #fff;
}

.chart {
  height: calc(100% - 38px);
}

.main {
  height: calc(100% - 69px);
}
